.hc-dropdown {
  .hc-dropdown-button {
    min-width: 150px;
  }

  .hc-dropdown__menu {
    max-height: 366px;
    max-width: 100%;
    overflow-y: auto;
    overflow-x: auto;
  }
}

.hc-dropdown-select_toggle-icon {
  margin-right: 12px;
  margin-left: 5px;
}

.hc-dropdown-main-button {
  min-height: 33px;
  width: 200px;
  cursor: pointer;
  align-items: center;
  background-color: hsl(0, 0%, 100%);
  border-color: #ededed;
  border-bottom-color: #8a8d90;
  border-radius: 0;
  border-style: solid;
  border-width: 1px;
  box-shadow: none;
  display: flex;
  line-height: 33px;
  padding: 2px 8px;
  &:hover {
    border-bottom-color: #06c;
  }
}

.hc-select__menu-list {
  &::-webkit-scrollbar {
    width: 7px;
    background: none;
  }

  &::-webkit-scrollbar-thumb {
    background: #d8dadb;
    border-radius: 7.5px;
    opacity: 1;
  }

  &::-webkit-scrollbar-track {
    background: none;
  }
}
