#!/bin/bash

# jq / kustomize 

#------------------------------------------------------------------
# ex : OPERATOR_VER=5.1.0.1
# ex : CONSOLE_VER=5.0.11.0
# ex : REALM=tmax
# ex : KEYCLOAK=hyperauth.org ## domain name or ip address 
# ex : CLIENTID=hypercloud5
# ex : MC_MODE=true ## true or false

OPERATOR_VER=5.1.0.1
CONSOLE_VER=5.0.11.0
REALM=tmax
KEYCLOAK=hyperauth.org ## domain name or ip address 
CLIENTID=hypercloud5
MC_MODE=true ## true or false
KIBANA="kibana.kube-logging.svc.cluster.local:5601"
GITLAB="http://gitlab-test-deploy.ck1-2.192.168.6.151.nip.io/"

#------------------------------------------------------------------
# common
OPERATOR_VER={OPERATOR_VER}
CONSOLE_VER={CONSOLE_VER}
REALM={REALM}
KEYCLOAK={KEYCLOAK}
CLIENTID={CLIENTID}
MC_MODE={MC_MODE}
KIBANA={KIBANA}
KUBEFLOW={KUBEFLOW}
GITLAB={GITLAB}

# default ENV 
NAME_NS="console-system"
file_Dir="./deployments"
temp_Dir="./deployments_temp"
crd_temp="$temp_Dir/1.crd.yaml"
init_temp="$temp_Dir/2.init.yaml"
job_temp="$temp_Dir/3.job.yaml"
svc_temp="$temp_Dir/4.svc-lb.yaml"
deploy_temp="$temp_Dir/5.deploy.yaml"

# OPERATOR_VER="5.1.0.1"
# KIBANA="opendistro-kibana.efk.svc.cluster.local:5601"
# KIBANA="kibana.kube-logging.svc.cluster.local:5601"
# KUBEFLOW="0.0.0.0"
# GITLAB="http://gitlab-test-deploy.ck1-2.192.168.6.151.nip.io/"