.tfac-logs {
  //   margin-left: 30px;
  //   margin-right: 30px;
  margin-top: 30px;
  display: flex;

  &__vertical-nav {
    list-style: none;
    width: 200px;
    margin: 0 10px;
    box-sizing: border-box;
    padding: 0;
    background-color: transparent;
    &__item {
      height: 38px;
      font-size: 15pt;
      margin: 5px 10px;
      cursor: pointer;
      &__font {
        font-weight: bold;
      }
    }
    &__item:hover {
      border-bottom: 3px solid rgb(0, 102, 204);
    }
    &__item-selected {
      border-bottom: 3px solid rgb(0, 102, 204);
    }
  }

  &__contents {
    width: 100%;
    &__extra-space {
      display: flex;
      line-height: 30px;
      margin: 5px 10px;
      height: 30px;
      &__key {
        margin-right: 30px;
      }
    }

    &__rawlogs {
      // width: 1570px;
      height: 560px;
    }
  }

  &__extra-space {
    display: flex;
    align-items: center;
    height: 60px;
    vertical-align: middle;
    margin-left: 30px;
    margin-right: 30px;
  }

  &__rawlogs {
    width: 1570px;
    height: 560px;
    margin-left: 30px;
    margin-right: 30px;
  }

  &__status {
    height: 560px;
    margin-left: 30px;
    margin-right: 30px;

    &__spec {
      display: flex;
      &__title {
        text-align: center;
        font-weight: bold;
      }

      &__num {
        display: grid;
        grid-template-columns: 33% 33% 33%;
        text-align: center;
        span {
          margin-left: 8px;
        }
      }
    }
  }
}
.tfac-logs__text-padding {
  flex: 1;
  padding-left: var(--pf-global--spacer--xl);
  padding-right: var(--pf-global--spacer--xl);
  white-space: pre-wrap;
}
