.odc-multi-column-field {
  &__row {
    position: relative;
    // margin-right: var(--pf-global--spacer--lg);
    // margin-bottom: var(--pf-global--spacer--lg);
    // max-height: var(--pf-global--spacer--xl);
    margin-right: 24px;
    // margin-bottom: 24px;
    margin-bottom: 16px;
    max-height: 32px;
  }

  &__col {
    // margin-right: var(--pf-global--spacer--md);
    margin-right: 16px;
    .pf-m-error {
      color: #f04c5c;
    }
  }

  &__col--left-button {
    div {
      float: left;
      div {
        float: none;
      };
    }
  }

  &__col--button {
    // line-height: var(--pf-global--spacer--xl);
    line-height: 26px;
    margin-left: 5px;
    float: left;
    // position: absolute;
    // right: -30px;
    // top: 50%;
    // transform: translateY(-50%);
    button {
      background-color: #ffffff;
    }
  }
  &__empty-message {
    // margin-bottom: var(--pf-global--spacer--sm);
    margin-bottom: 8px;
  }
  &__header--required-label {
    // margin-left: var(--pf-global--spacer--xs);
    // font-size: var(--pf-global--FontSize--sm);
    // color: var(--pf-global--danger-color--100);
    margin-left: 4px;
    font-size: 8px;
    color: #c9190b;
  }
}
