.odc-logs {
  // padding: var(--pf-global--spacer--sm) var(--pf-global--spacer--md);
  padding: 8px 16px;

  &__name {
    // font-weight: var(--pf-global--FontWeight--bold);
    font-weight: 700;
    text-transform: uppercase;
  }

  &__content {
    // padding-left: var(--pf-global--spacer--md);
    padding-left: 16px;
  }
}
