.co-icon-space-l {
  margin-left: 0.35em;
}

.co-icon-space-r {
  margin-right: 0.25em;
}

.co-status-icon {
  padding-right: 6px;
  width: 16px;
}

.update-pending {
  color: $color-pf-blue-400;
}

.co-status-deleted-icon,
.co-status-throbber-icon,
.co-status-awaiting-icon {
  width: 1.2em;
  height: 1.2em;
  padding: 0;
  overflow: hidden;
  left: -2px;
  top: 0.3em;
  margin-right: 2px;
}
