.oc-nav-pinned-item.pf-c-nav__item {
  display: flex;

  .pf-c-nav__link {
    display: block;
    flex-grow: 1;
    overflow: hidden;
    padding-right: 0;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:hover,
    &:focus {
      .oc-nav-pinned-item__unpin-button {
        .oc-nav-pinned-item__icon {
          opacity: 1;
        }
      }
    }
  }

  .oc-nav-pinned-item__unpin-button {
    background-color: var(--pf-c-nav--m-dark__item--BackgroundColor);
    padding-bottom: 0;
    padding-top: 0;
    position: absolute;
    right: 0;

    .pf-m-current & {
      background-color: #31475e;
    }

    .oc-nav-pinned-item__icon {
      opacity: 0;
    }

    &:hover,
    &:focus {
      .oc-nav-pinned-item__icon {
        opacity: 1;
      }
    }
  }
}

.navIcon {
  background-repeat: no-repeat;
  background-position: left 21px top 17px;
  // multi cluster
  &.cluster {
    background-image: url('../../imgs/hypercloud/lnb/cluster.svg');
    .pf-m-current {
      background-image: url('../../imgs/hypercloud/lnb/filled/cluster_filled.svg');
      background-repeat: no-repeat;
      background-position: left 17px top 17px;
    }
  }
  &.terraform_claim {
    background-image: url('../../imgs/hypercloud/lnb/terraform_claim.svg');
    .pf-m-current {
      background-image: url('../../imgs/hypercloud/lnb/filled/terraform_claim_filled.svg');
      background-repeat: no-repeat;
      background-position: left 17px top 17px;
    }
  }
  &.federation {
    background-image: url('../../imgs/hypercloud/lnb/ferderation.svg');
    &.pf-m-current {
      background-image: url('../../imgs/hypercloud/lnb/filled/ferderation_filled.svg');
    }
  }

  // master cluster
  &.home {
    background-image: url('../../imgs/hypercloud/lnb/home.svg');
    &.pf-m-current {
      background-image: url('../../imgs/hypercloud/lnb/filled/home_filled.svg');
    }
  }
  &.workload {
    background-image: url('../../imgs/hypercloud/lnb/workload.svg');
    &.pf-m-current {
      background-image: url('../../imgs/hypercloud/lnb/filled/workload_filled.svg');
    }
  }
  &.networking {
    background-image: url('../../imgs/hypercloud/lnb/network.svg');
    &.pf-m-current {
      background-image: url('../../imgs/hypercloud/lnb/filled/network_filled.svg');
    }
  }
  &.storage {
    background-image: url('../../imgs/hypercloud/lnb/storage.svg');
    &.pf-m-current {
      background-image: url('../../imgs/hypercloud/lnb/filled/storage_filled.svg');
    }
  }
  &.hosts {
    background-image: url('../../imgs/hypercloud/lnb/host.svg');
    &.pf-m-current {
      background-image: url('../../imgs/hypercloud/lnb/filled/host_filled.svg');
    }
  }
  &.authentications {
    background-image: url('../../imgs/hypercloud/lnb/authentication_authorization.svg');
    &.pf-m-current {
      background-image: url('../../imgs/hypercloud/lnb/filled/authentication_authorization_filled.svg');
    }
  }
  &.administration {
    background-image: url('../../imgs/hypercloud/lnb/management.svg');
    &.pf-m-current {
      background-image: url('../../imgs/hypercloud/lnb/filled/management_filled.svg');
    }
  }

  // developer
  &.add {
    background-image: url('../../imgs/hypercloud/lnb/add.svg');
    .pf-m-current {
      background-image: url('../../imgs/hypercloud/lnb/filled/add_filled.svg');
      background-repeat: no-repeat;
      background-position: left 17px top 17px;
    }
  }
  &.topology {
    background-image: url('../../imgs/hypercloud/lnb/topology.svg');
    .pf-m-current {
      background-image: url('../../imgs/hypercloud/lnb/filled/topology_filled.svg');
      background-repeat: no-repeat;
      background-position: left 17px top 17px;
    }
  }
  &.service_catalogs {
    background-image: url('../../imgs/hypercloud/lnb/service_catalog.svg');
    &.pf-m-current {
      background-image: url('../../imgs/hypercloud/lnb/filled/service_catalog_filled.svg');
    }
  }
  &.helm {
    background-image: url('../../imgs/hypercloud/lnb/helm_lnb.svg');
    &.pf-m-current {
      background-image: url('../../imgs/hypercloud/lnb/filled/helm_filled_lnb.svg');
    }
  }
  &.service_mesh {
    background-image: url('../../imgs/hypercloud/lnb/service_mesh.svg');
    &.pf-m-current {
      background-image: url('../../imgs/hypercloud/lnb/filled/service_mesh_filled.svg');
    }
  }
  &.ci_cd {
    background-image: url('../../imgs/hypercloud/lnb/ci_cd.svg');
    &.pf-m-current {
      background-image: url('../../imgs/hypercloud/lnb/filled/ci_cd_filled.svg');
    }
  }
  &.ai_devops {
    background-image: url('../../imgs/hypercloud/lnb/ai_devops.svg');
    &.pf-m-current {
      background-image: url('../../imgs/hypercloud/lnb/filled/ai_devops_filled.svg');
    }
  }
  &.kafka {
    background-image: url('../../imgs/hypercloud/lnb/kafka.svg');
    &.pf-m-current {
      background-image: url('../../imgs/hypercloud/lnb/filled/kafka_filled.svg');
    }
  }
  &.redis {
    background-image: url('../../imgs/hypercloud/lnb/redis_.svg');
    &.pf-m-current {
      background-image: url('../../imgs/hypercloud/lnb/filled/redis_filled.svg');
    }
  }
  &.service_binding {
    background-image: url('../../imgs/hypercloud/lnb/service_binding.svg');
    .pf-m-current {
      background-image: url('../../imgs/hypercloud/lnb/filled/service_binding_filled.svg');
      background-repeat: no-repeat;
      background-position: left 17px top 17px;
    }
  }
  &.image {
    background-image: url('../../imgs/hypercloud/lnb/image.svg');
    &.pf-m-current {
      background-image: url('../../imgs/hypercloud/lnb/filled/image_filled.svg');
    }
  }

  // baremetal
  &.ansible {
    background-image: url('../../imgs/hypercloud/lnb/ansible_lnb.svg');
    &.pf-m-current {
      background-image: url('../../imgs/hypercloud/lnb/filled/ansible_filled_lnb.svg');
    }
  }
  &.provisioning {
    background-image: url('../../imgs/hypercloud/lnb/provisioning.svg');
    &.pf-m-current {
      background-image: url('../../imgs/hypercloud/lnb/filled/provisioning_filled.svg');
    }
  }

  // custom
  &.custom_menu {
    background-image: url('../../imgs/hypercloud/lnb/add_menu.svg');
    &.pf-m-current {
      background-image: url('../../imgs/hypercloud/lnb/filled/add_menu_filled.svg');
    }
  }
}
